/.vs
/DellFanCmd/bin
/DellFanCmd/obj
/DellFanKeepAlive/bin
/DellFanKeepAlive/obj
/DellFanLib/x64
*.user
/DellFanLibInterop/bin
/DellFanLibInterop/obj
/packages
/DellSmmIoLib/bin
/DellSmmIoLib/obj
/DellFanLib/DellFanLib.aps
/DellFanManagementApp/bin
/DellFanManagementApp/obj
/SmbiosTest/bin
/SmbiosTest/obj
