#include <windows.h>

// See: https://stackoverflow.com/a/35429430/4647297

VS_VERSION_INFO VERSIONINFO
FILEVERSION 2,1,0,0
PRODUCTVERSION 2,1,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "ProductName", "DellFanLib"
			VALUE "FileDescription", "DellFanLib"
		END
	END
END
